 <footer class="footer">
  <div class="container py-5 mb-3">
    <div class="row">
      <div class="footer-col col-6 col-lg-3">
        <h4 class="col-heading">Products</h4>
        <ul class="list-unstyled">
          <li><a class="text-link" href="#">Bootstrap Themes</a></li>
          <li><a class="text-link" href="#">Design Templates</a></li>
          <li><a class="text-link" href="#">Live Demo</a></li>
          <li><a class="text-link" href="#">Showcase</a></li>
        </ul>
      </div>
      <!--//footer-col-->
      <div class="footer-col col-6 col-lg-3">
        <h4 class="col-heading">Developers</h4>
        <ul class="list-unstyled">
          <li><a class="text-link" href="#">Pricing</a></li>
          <li><a class="text-link" href="#">APIs</a></li>
          <li><a class="text-link" href="#">FAQs</a></li>
          <li><a class="text-link" href="#">Support</a></li>
        </ul>
      </div>
      <!--//footer-col-->
      <div class="footer-col col-6 col-lg-3">
        <h4 class="col-heading">Resources</h4>
        <ul class="list-unstyled">
          <li><a class="text-link" href="#">Docs</a></li>
          <li><a class="text-link" href="#">Freebies</a></li>
          <li><a class="text-link" href="#">Affiliates</a></li>
          <li><a class="text-link" href="#">Community</a></li>
        </ul>
      </div>
      <!--//footer-col-->
      <div class="footer-col col-6 col-lg-3">
        <h4 class="col-heading">CoderPro</h4>
        <ul class="list-unstyled">
          <li><a class="text-link" href="#">About Us</a></li>
          <li><a class="text-link" href="#">Contact Us</a></li>
          <li><a class="text-link" href="#">Privacy</a></li>
          <li><a class="text-link" href="#">Terms of Services</a></li>
        </ul>
      </div>
      <!--//footer-col-->
    </div>
    <!--//row-->
  </div>
  <!--//container-->
  <div class="container">
    <hr />
  </div>
  <div class="newsletter-section py-5">
    <div class="container text-center">
      <h4 class="mb-2">Join Our Newsletter</h4>
      <div class="section-intro mb-2">Sign up to receive latest updates, features, and news!</div>
      <form class="signup-form row gx-1 justify-content-center pt-3">
        <div class="col-12 col-md-auto">
          <label class="sr-only" for="semail">Email address</label>
          <input
            type="email"
            id="semail"
            name="semail1"
            class="form-control semail"
            placeholder="Enter email"
          />
        </div>
        <div class="col-12 col-md-auto mt-2 mt-md-0">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
  <!--//newsletter-section-->
  <div class="footer-bottom text-center pb-5">
    <ul class="social-list list-unstyled pt-4 mb-0">
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-github fa-fw"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-twitter fa-fw"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-slack fa-fw"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-product-hunt fa-fw"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-facebook-f fa-fw"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-instagram fa-fw"></i></a>
      </li>
    </ul>
    <!--//social-list-->
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"></script>
<!-- Javascript -->
<script src="/plugins/popper.min.js"></script>

<!-- Page Specific JS -->
<script src="/js/highlight-custom.js"></script>
<script src="/plugins/typewriterjs/dist/core.js"></script>
<script src="/js/typewriter-custom.js"></script>
<script src="/plugins/tiny-slider/min/tiny-slider.js"></script>
<script src="/js/tinyslider-custom.js"></script>

 </body>
</html>