<header class="header fixed-top">
  <div class="branding">
    <div class="container-fluid position-relative">
      <nav class="navbar navbar-expand-sm">
        <div class="site-logo">
          <a class="navbar-brander" href="/">
            <img class="logo-icon me-2" src="images/logo-only.PNG" alt="logo" />
            <span class="logo-text">Micky<span
                class="text-alt"
              >Designs</span></span>
          </a>
        </div>

        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navigation"
          aria-controls="navigation"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span> </span>
          <span> </span>
          <span> </span>
        </button>

        <div class="collapse navbar-collapse py-3 py-lg-0" id="navigation">
          <ul class="navbar-nav ms-lg-auto">
            <li class="nav-item me-lg-4">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown me-lg-4">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Portfolio
              </a>
              <ul
                class="dropdown-menu rounded shadow menu-animate slideIn"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item has-icon" href="/portfolio"><span
                      class="me-2"
                    ></span>Portfolio Home</a>
                </li>

                <li><div class="dropdown-divider m-0"></div></li>
                <li>
                  <a class="dropdown-item has-icon" href="/graphics">
                    <span class="me-2"></span>Graphic Designs</a>
                </li>
                <li>
                  <a
                    class="dropdown-item has-icon"
                    href="portfolio/website.html"
                  >
                    <span class="me-2"></span>Website Designs</a>
                </li>

              </ul>
            </li>
            <!-- <li class="nav-item me-lg-4">
        <a class="nav-link" href="/contact">Contact</a>
      </li> -->
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!--//branding-->
</header>
<!--//header-->