<section class="testimonial-section pb-5">
  <div class="container">
    <div class="testimonials-slider-container position-relative mb-5">
      <div class="testimonials-slider tiny-slider">
        <% details.forEach(function(reviews){%>
        <div class="item">
          <div class="item-inner rounded shadow-sm">
            <div class="row source-holder">
              <!-- <div class="source-profile-holder col-auto">
                  <img src="images/users/user-1.jpg" class="source-profile" alt=" " />
                </div> -->
              <!--//col-->
              <div class="col source-meta align-self-center">
                <div class="name"><%= reviews.name %></div>
                <div class="info">
                  <a class="text-link" href="#"><%= reviews.twitterUsername %></a>
                </div>
              </div>
              <!--//col-->
              <div class="source-icon"><i class="fab fa-twitter"></i></div>
            </div>
            <!--//row-->
            <div class="quote-holder">
              <blockquote class="quote-content mb-0"><%= reviews.blockquote %></blockquote>
            </div>
            <!--//quote-holder-->
          </div>
          <!--//item-inner-->
        </div>

        <% }) %>

        <!--//item-->
      </div>
      <!--//testimonials-slider-->
    </div>
    <!--//slider-container-->
    <div class="pt-5 text-center">
      <a class="btn btn-light" href="pricing.html"
        >Leave a Review<i class="fas fa-arrow-alt-circle-right ms-2"></i
      ></a>
    </div>
  </div>
  <!--//container-->
</section>
